body {
  margin-top: 80px;
  background: #eee;
  background-image: url(/img/shattered.png);
}
#confirmDeleteModal .actions {
  text-align: center;
}
.ui.form .field.spacer,
.ui.form .fields.spacer {
  margin-top: 10px;
}
